{% load static %}
{% include 'layout/admin.html' %}
{% include 'admin_style.html' %}

<body>
    <h1 style="margin-top: 300px; margin-bottom: 20px;color: #facf5a; text-align: center;font-family: 'Raleway';font-size: 90px;font-weight: 800;">
        403
    </h1>
    <h2 style="color: #455d7a; text-align: center; font-family: 'Raleway'; font-size: 30px;text-transform: uppercase;">
        You have no rights to access this url, access forbidden!
    </h2>
    <div class="waves-input-wrapper waves-effect waves-light">
    <a href="/dashboard"> <input type="submit" id="" value="GO TO DASHBOARD"
            class="btn btn-primary btn-sm waves-effect waves-dark"
            style="padding-top: 10px;bottom: 0px;margin-left: 850px; margin-top:30px;" ></a>
    </div>
</body>
