{% load static %}
<style type="text/css">
    #demo-form .custom-input .parsley-errors-list {
        position: absolute;
        bottom: -22px;
    }
</style>

    <div class="">
        <div class="modal fade" id="exampleModal"  data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" style="left: -31%">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 230%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalHeading">Add Question</h5>
                    </div>
                    <div class="modal-body">
                        <form data-parsley-validate method="POST" action="/image_mcq_post" enctype="multipart/form-data" id="demo-form">
                            {% csrf_token %}
                            <input type="hidden" id="mcq_id" name="mcq_id" value="">
                            <input type="hidden" id="mcq_method" name="method" value=""> 
                            <div class="card custom" id="user_form">
                                <div class="card-header"></div>
                                <div class="col-md-12 row">
                                    
                                    <div class="card-body">
                                        <div class="form-inline mt10">
                                            <div class="col-md-9 mt20 custom-input">
                                                {{image_mcq_form.subjects.label}}
                                                    <span class="field-validation-valid error" data-valmsg-for="SelectedSubject"
                                                id="select_subject_error" data-valmsg-replace="true"></span>
                                                {{image_mcq_form.subjects}}
                                            </div>
                                        </div>

                                        <div class="col-md-9 mt20 custom-input">
                                            {{image_mcq_form.question_title.label}}
                                            <div class="input-group">
                                            {{image_mcq_form.question_title}}
                                            </div>
                                        </div>
                                        <div class="col-md-12 row">
                                            <div class="col-md-6 mt20 custom-input">
                                                {{image_mcq_form.optionA.label}}
                                                <div class="input-group">
                                                {{image_mcq_form.optionA}}
                                                    <span class="input-group-addon">
                                                        <input id="chkboxOption0" value="optionA" type="radio"
                                                            name="AnswerKey" checked>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt20 custom-input">
                                                {{image_mcq_form.optionB.label}}
                                                <div class="input-group">
                                                    {{image_mcq_form.optionB}}
                                                    <span class="input-group-addon">
                                                        <input id="chkboxOption1" value="optionB" type="radio"
                                                            name="AnswerKey">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 row">
                                            <div class="col-md-6 mt20 custom-input">
                                                {{image_mcq_form.optionC.label}}
                                                <div class="input-group">
                                                    {{image_mcq_form.optionC}}
                                                    <span class="input-group-addon">
                                                        <input id="chkboxOption2" value="optionC" type="radio"
                                                            name="AnswerKey">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt20 custom-input">
                                                {{image_mcq_form.optionD.label}}
                                                <div class="input-group">
                                                    {{image_mcq_form.optionD}}
                                                    <span class="input-group-addon">
                                                        <input id="chkboxOption3" value="optionD" type="radio"
                                                            name="AnswerKey">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 row">
                                            <div class="col-md-3 mt20 ">
                                                <div id="dvPreview" class="img-frame" style="margin-left: 8%;">
                                                    <img id="imgPreview" src="" class="ques-img">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt80 custom-input" style="padding-top:10%;">
                                                {{image_mcq_form.image_upload.label}}
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        {{image_mcq_form.image_upload}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt10">
                                        <div class="pull-right" style="margin: 5px;">
                                            <button type="button" id="close-dialoge" value="close" class="btn btn-secondary btn-sm waves-effect waves-dark pull-right"  data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                        
                                        <div class="pull-right" style="margin: 5px;">
                                            <button type="submit" id="add_question_btn" value="Save"
                                                class="btn btn-primary btn-sm waves-effect waves-dark pull-right" >Save</button>
                                        </div>
                                        <div class="validation-summary-valid red-text" data-valmsg-summary="true">
                                            <ul>
                                                <li style="display:none"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/image.js' %}"></script>
    <script>
        MCQ_image_upload.onchange = evt => {
            var [image] = MCQ_image_upload.files
            if (image) {
                imgPreview.src = URL.createObjectURL(image)
            }
          }
    </script>
