<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" style="left: -31%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 200%; padding: 4%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <strong id="modalHeading"></strong>
                </h5>
            </div>
            <div class="col-md-12">
                <div class="card custom AddRecord row" style="display: block">
                    <form action="/user_setting_view" method="POST" id="demo-form" data-parsley-validate>
                        {% csrf_token %}
                        <input type="hidden" name="method" value="" id="editMethod">
                        <input type="hidden" id="hiddenID" value="" name="userID">
                        <div class="custom" id="user_form">
                            <div id="divMCQ" style="padding-top: 24px; padding-bottom: 40px">
                                <div class="col-md-12 row">
                                    <div class="col-md-6">
                                        {{ add_user_form.username.label }} {{ add_user_form.username }}
                                    </div>

                                    <div class="col-md-6">
                                        {{ add_user_form.email.label }} {{ add_user_form.email }}
                                    </div>

                                    <div class="col-md-6">
                                        {{ add_user_form.role.label }} {{ add_user_form.role }}
                                    </div>

                                    <div class="col-md-6">
                                        {{ add_user_form.status.label }} {{ add_user_form.status }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="close-button"
                                class="btn btn-secondary btn-sm waves-effect waves-dark pull-right"
                                data-bs-dismiss="modal">Close</button>
                            <input id="save-button" type="submit" value="Save"
                                class="btn btn-primary btn-sm waves-effect waves-dark pull-right"
                                style="margin-right: 15px">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
