{% load static %}
{% include 'layout/admin.html' %}
{% include 'admin_style.html' %}

<div class="container-fluid mt80">
    <h5>User Settings</h5>
    <div class="col-md-12 custom">
        <!-- Panel for search -->
        <div class="card row">
            <div class="card-header">
                <strong> Apply Filter </strong>
                <span class="btn btn-primary pull-right AddRecordBtn blue-text" id="addButton" type="button"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" style="border-radius:55px;">Add User</span>
            </div>

            <form method="get" action="">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-inline mt10 mb10">
                        <div class="col-md-3 ">
                            {{ search_form.username.label }} {{ search_form.username }}
                        </div>
                        <div class="col-md-3 ">
                            {{ search_form.email.label }} {{ search_form.email }}
                        </div>
                        <div class="col-md-3 " style="margin-bottom:16px ;">
                            {{ search_form.role.label }} {{ search_form.role }}
                        </div>
                        <div class="col-md-2">
                            <div class="waves-input-wrapper waves-effect waves-light">
                                <input type="submit" id="" value="Search" class="btn btn-primary btn-sm waves-effect waves-dark" 
                                style="padding-top: 10px;bottom: 0px;margin-top: 8px;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- User data -->
    <div class="">
        <table id="tblAdminUser" class="table table-sm table-hover" cellpadding="0" cellspacing="0" style="display:;">
            <thead class="mdb-color darken-3 white-text">
                <tr class="wdth80 text-center">
                    <th>Admin Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="UserData">
                {% include 'elements/messages.html' %}
                {% for user in data %}

                <tr id="row_data_{{ user.id }}" style="display: ">
                    <td class="EditData custom username" style="text-align:center; word-break: break-all ;">
                        {{ user.username}}
                        <span id='username_column'></span>
                    </td>

                    <td class="EditData custom useremail" style="text-align:center;">
                        <span id='email_column'>{{user.email}}</span>
                    </td>

                    <td class="EditData" style="text-align:center;">
                        {% if user.is_superuser %}
                        <span class="role-label" id="role_column">Administrator</span>
                        {% elif not user.is_superuser and user.is_staff %}
                        <span class="role-label" id="role_column">Admin</span>
                        {% else %}
                        <span class="role-label" id="role_column">Interviewer</span>
                        {% endif %}
                    </td>

                    <td class="EditData" style="text-align:center;">
                        {% if user.is_active %}
                        <span class="status-label" id="status_column">Active</span>
                        {% else %}
                        <span class="status-label" id="status_column">Inactive</span>
                        {% endif %}
                    </td>

                    <td style="text-align:center;">
                        {% if user.is_superuser %}
                        <span>No action</span>
                        {% else %}
                        <a class="Edit btn btn-info btn-sm waves-effect waves-light editButton"
                            id="editButton_{{ user.id }}" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" style="display: inline-block;">Edit</a>
                        <span style="display: inline-block;">
                            <form action="/user_setting_view" method="POST"
                                onSubmit="return confirm('Do you want to delete this user ?')">
                                {% csrf_token %}
                                <input type="hidden" name="method" value="delete"></input>
                                <input type="hidden" value="{{user.id}}" name="userID">
                                <button class="Delete btn btn-danger btn-sm waves-effect waves-light" type="submit"
                                    id="Delete" href="/user_setting_view">Delete</button>
                            </form>
                        </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'admin_script.html' %}
{% include 'elements/modals/admin_user_settings_modal.html' %}
<!-- pagination -->
{% include 'elements/pagination.html' %}

<script>

    $("#addButton").on("click", function () {
        $("#demo-form").parsley().reset()
        $("#demo-form")[0].reset()
        $("#modalHeading").html("ADD NEW USER");
    })

    $(".editButton").on("click", function (e) {
        $("#demo-form").parsley().reset()
        $("#modalHeading").html("UPDATE USER");
        var row_id = e.currentTarget.id.slice(11,)
        var row_data = document.getElementById("row_data_" + row_id)
        var username = row_data.cells[0].innerText;
        var email = row_data.cells[1].innerText;
        var role = row_data.cells[2].innerText;
        var status = row_data.cells[3].innerText;
        if (role == "Admin")
            role = 2;
        else
            role = 3
        var status = row_data.cells[3].innerText;
        if (status == "Active")
            status = 1;
        else
            status = 0;

        $("#userSettingUsername").val(username);
        $("#userSettingEmail").val(email);
        $("#userSettingRole").val(role);
        $("#userSettingStatus").val(status);
        $("#hiddenID").val(row_id);
        $("#editMethod").val("put");
    })
</script>
<script type="text/javascript" src="{% static 'assets/js/admin_user.js' %}"></script>
