{% load static %}
{% include 'candidate_style.html' %}

<body>
    <div class="welcome">
        <div>
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTQzMzc5MDEyMmRke95hwa9FVoZmwsxw6IkwjCnUNJ34qd0VUjIWeq27X4s=">
            <div>
                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="6DC126C8">
            </div>
            <div class="" style="overflow:hidden; padding-bottom:20px; margin-top:250px;" >
                <h1>Thank You</h1>
                <h4>Your Exam has been completed 
                    <span class="text-success">
                        Successfully
                    </span>
                </h4>
            </div>
        </div>
    </div>
</body>
{% include 'candidate_script.html' %}
