{% load static %}
<script type="text/javascript" src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.unobtrusive-ajax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/parsley.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/Common.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/common_script.js' %}"></script>
