{% load static %}
{% include 'candidate_style.html' %}

<style>
    .parsley-required {
        margin-right: 240px;
    }

    .parsley-maxlength {
        margin-right: 155px;
    }

    .parsley-length {
        margin-right: 175px;
    }

    .parsley-type {
        margin-right: 200px;
    }

    .parsley-pattern {
        margin-right: 20px;
        ;
    }
</style>

<body>
    <div class="text-center ArcOrange" style="margin-top:-20px;  margin-bottom: -20px;">
        <img src="{% static 'assets/images/arcgate-image.png' %}" width="125" alt=""
            title="ArcGate Interview">
    </div>
    <div class="container-fluid">
        <div class="factsheet personal-details" style="height:900px; max-width:1800px;">
            <div class="text-center border border-light py-3 px-5">
                <p class="h4 mb-5" style="color:#e3a04d; margin-top:20px;"><u>Work Experience Details</u></p>
                <div style="width: 70%; margin:auto">
                    {% if work_exp %}
                    <table class="table" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Name of Company</th>
                                <th class="text-center">Designation</th>
                                <th class="text-center">Joining Date</th>
                                <th class="text-center">Relieving Date</th>
                                <th class="text-center">Reason of Leaving</th>
                                <th class="text-center">Last Salary</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        {% for data in work_exp %}
                        <tbody>
                            <tr>
                                <td class="text-center word_break">
                                    <span>{{data.name_of_company}}</span>
                                </td>
                                <td class="text-center word_break">
                                    <span>{{data.designation}}</span>
                                </td>
                                <td class="text-center word_break">
                                    <span>{{data.joining_date}}</span>
                                </td>
                                <td class="text-center word_break">
                                    <span>{{data.reliving_date}}</span>
                                </td>
                                <td class="text-center word_break">
                                    <span>{{data.reason_of_leaving}}</span>
                                </td>
                                <td class="text-center word_break">
                                    <span>{{data.last_salary}}</span>
                                </td>
                                <td class="text-center ">
                                    <form action="/candidate_work_experience" method="POST"
                                        onSubmit="return confirm('Are you sure you want to delete?')">
                                        {% csrf_token %}
                                        <input type="hidden" name="method" value="delete"></input>
                                        <input type="hidden" value="{{data.id}}" name="work_exp_delete">
                                        <button class="Delete btn btn-danger btn-sm waves-effect waves-light"
                                            type="submit" id="Delete" href="/candidate_work_experience">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>

                <div class="container-fluid">
                    <form action="/candidate_work_experience" method="post" data-parsley-validate id="work_form">
                        {% csrf_token %}
                        <div class="factsheet personal-details">
                            <div class="text-center border border-light py-3 px-5">
                                <p class="h6 mb-5 text-success" style="margin-top:20px;">If you are fresher then no
                                    need to
                                    fill this form and click "Next" to continue</p>
                                <div class="col-md-12 row">
                                    <div class="col-md-6">
                                        <label for="candidate_company_name" class="form-label"
                                            style="margin-right:265px; margin-top:20px;">Company Name</label>
                                        <input type="text" class="form-control" id="candidate_company_name"
                                            name="name_of_company" required data-parsley-maxlength="100"
                                            data-parsley-maxlength-message="This field can have 100 characters"
                                            data-parsley-trigger="keyup">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="candidate_designation_name" class="form-label"
                                            style="margin-right:300px; margin-top:20px;">Designation</label>
                                        <input type="text" class="form-control" id="candidate_designation_name"
                                            name="designation" required data-parsley-maxlength="100"
                                            data-parsley-pattern="^[a-zA-Z .]+$"
                                            data-parsley-pattern-message="This field can have only alphabet" 
                                            data-parsley-maxlength-message="This field can have 100 characters"
                                            data-parsley-trigger="keyup">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="candidate_joining_date" class="form-label"
                                            style="margin-right:292px; margin-top:20px;">Joining Date</label>
                                        <input type="date" class="form-control" id="candidate_joining_date"
                                            name="joining_date" required data-parsley-trigger="keyup">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="candidate_reliving_date" class="form-label"
                                            style="margin-right:285px; margin-top:20px;">Reliving Date</label>
                                        <input type="date" class="form-control" id="candidate_reliving_date"
                                            name="reliving_date" required data-parsley-trigger="keyup">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="candidate_reason_of_leaving" class="form-label"
                                            style="margin-right:245px; margin-top:20px;">Reason of Leaving</label>
                                        <input type="text" class="form-control" id="candidate_reason_of_leaving"
                                            name="reason_of_leaving"required data-parsley-trigger="keyup">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="candidate_last_salary" class="form-label"
                                            style="margin-right:300px; margin-top:20px;">Last Salary</label>
                                        <input type="text" class="form-control" id="candidate_last_salary"
                                            name="last_salary" required data-parsley-type="digits"
                                            data-parsley-maxlength="12"
                                            data-parsley-maxlength-message="Limit exceeded"
                                            data-parsley-trigger="keyup">
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <button type="submit" class="btn btn-primary btn-sm waves-effect "
                                        style="width:20%">Save
                                    </button>
                                </div>
                                <div style="margin-top: 5%; margin-bottom: 12%;">
                                    <a href="/candidate_source_of_info" id="btnNext" type="submit"
                                        class="btn btn-primary btn-sm waves-effect waves-dark pull-right" name="Next"
                                        style="margin-right: 2%; width: 10%;">Next</a>
                                    <button id="btnPrevious"
                                        class="btn btn-primary btn-sm waves-effect waves-dark pull-right" name="action"
                                        style="margin-right: 2%; width: 10%;">Previous</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
</body>
{% include 'candidate_script.html' %}

<script>

    $('#btnPrevious').click(function () {
        $('#work_form').parsley().destroy();
        parent.history.back()
        return false
    })

    var todayDate = new Date();
    todayDate.setDate(todayDate.getDate() - 1)
    var month = todayDate.getMonth() + 1;
    var year = todayDate.getUTCFullYear();
    var tdate = todayDate.getDate();
    if (month < 10) {
        month = "0" + month
    }
    if (tdate < 10) {
        tdate = "0" + tdate;
    }
    var maxDate = year + "-" + month + "-" + tdate;
    document.getElementById("candidate_joining_date").setAttribute("max", maxDate);
    $('#candidate_joining_date').on('change', function () {
        document.getElementById("candidate_reliving_date").setAttribute("min", $('#candidate_joining_date').val());
    });
</script>
